.services{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow-y: hidden;
   
}
.services-tittle{
    position: relative;
}
.services-tittle h1{
 padding: 0px 30px;
 font-size: 40px;
 font-weight: 600;


}

.services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.3s;
    cursor: pointer;
    
}
.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: -20px;
    padding: 50px;
   
    
}
.services-format h3{
    font-size: 15px;
    font-weight: 600;
}
.services-format h2{
    font-size: 20px;
    font-weight: 800;
    background: linear-gradient(267deg,#9aedf8 0.36%,#0f3d46 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-format p {
    color: #d4d4d4;
    font-size: 20px;
    line-height: 30px;
    max-width: 300px;
}
.services-format:hover{
    border: 1px solid #72c5d0;
    background: linear-gradient(267deg,#2a6870 0.36%,#083f4a 102.06%);
    transform: scale(1.1);
    transition: 0.3s;
}
.arrow-icon{
    height: 30px;
}
.link-cert{
    text-decoration: none;
    color: rgb(29, 183, 214);
}
.link-cert:hover{
    text-decoration: underline;
}
@media (max-width:768px){
   
    .services{
        align-items: center;
        gap: 30px;
        margin: 10px 5px;
    }
    .services-tittle h1{
        text-align: center;
    }
    .services h1 {
        padding: 0;
        font-size: 50px;
    }
    .services-format{
        gap: 40px;             
    }
    .services-format h2{
        font-size: 28px;
    }
    .services-format p{
        font-size: 18px;
        line-height: 32px;
        max-width: 300px;
    }
    .services-container{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    @media (max-width:480px){
        .services-container{
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }
}
