.mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 40 0px;
  padding: 50px;
}
.mywork-tittle h1 {
  padding: 0 30px;
  font-size: 50px;
  font-weight: 600;
}
.img-icon-work {
  width: 70%;
  cursor: pointer;
  border-radius: 10px;
  box-sizing: border-box;
  transition: border 0.3s ease;
}
.img-icon-work:hover {
  border: 3px solid rgb(12, 195, 165);
}
.mywork-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 8%;
  gap: 40px;
  width: 100%;
  padding: 20px;
  width: 80vw;
}
.mywork-container img {
  width: 70%;
  height: 25vh;
  cursor: pointer;
  border-radius: 10px;
}
.arrow-icon {
  width: 15%;
}
@media (max-width: 768px) {
  .mywork {
    gap: 50px;
    margin: 50px 20px;
    align-items: center;
  }
  .mywork-tittle h1 {
    padding: 0;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 400px;
  }
  .mywork-container {
    width: 65vw;
    grid-template-columns: 1fr 1fr;
    height: 65vh;
    gap: 30px;
    margin-right: 10%;
  }
  .mywork-container img {
    width: 100%;
    height: 100%;
  }
  .mywork-showmore {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 35px;
    font-size: 18px;
    width: 180px;
    margin: 10px auto;
    cursor: pointer;
  }
}
