.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 140px;

}
.about-tittle{
    position: relative;
}
.about-tittle h1 {
    padding: 0 30px;
    font-size: 50px;
    font-weight: 600;

}
/* .about-tittle img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
} */
 .about-sections{
    display: flex;
    gap: 80px;
 }
 .about-right{
    display: flex;
    flex-direction: column;
    gap: 40px;

 }
 .about-para{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 18px;
    font-weight: 500;
 }
 .about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y:hidden ;
   padding: 20px;
 }
 .about-skill{
    display: flex;
    gap: 10px;
    align-items: center;
    transition:0.3s;
   

 }
 .img-icon{
   width: 100%;
 }
 .img-icon:hover{
   border: none;
   transform: scale(1.1);
   transition:0.3s;
  

 }
 .about-skill p {
    min-width: 150px;
    font-size: 20px;
    font-weight: 500;
    
 }
 .about-skill hr{
    outline: none;
    border: none;
    width: 90%;
    height: 5px;
    border-radius: 8px;
    background: linear-gradient(264deg , #DF8908 -5.09%, #b415FF 106.28% );
   
 }
 .about-achievements{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
    overflow-y: hidden;
 }
 .about-achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
 }
 .about-achievement h1 {
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 50.41%, #B415FF 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 .about-achievement p{
    font-size: 22px;
    font-weight: 500;
 }
 .about-skill:hover{
    transform: scale(1.05);
    transition:0.3s;
 }
 .about-achievement:hover{
    transform: scale(1.12);
    transition: 0.5s;
 }
 @media (max-width:768px) {
      .about{
         gap: 80px;
         margin: 50px 70px;
         
      }
      .about-tittle h1{
         font-size: 50px;
         padding: 0;
      }
      .about-sections{
         flex-direction: column;
      }
      .about-left{
         display: none;
      }
      .about-para{
         font-size: 18px;
         line-height: 32px;
      }
      .about-skill{
         gap: 20px;
         align-items: center;

      }
      .about-skill p {
         font-size: 20px;
      }
      .about-achievement{
         justify-content: space-between;
         align-items: center;
      }
      .about-achievement{
         gap: 10px;
         margin: 0px 10px;
        
      }
      .about-achievement h1 {
         font-size: 34px;
         
         font-weight: 700;
      }
      .about-achievement p {
         text-align: center;
         font-size: 16px;
      }

 }